<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Inicio de Sesión COPROBICH</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <ion-grid class="ion-padding" size="12" size-lg="3" size-md="4" size-sm="6" size-xs="12">
    <ion-row class="">
      <ion-col >
        <form class="ion-padding">
          <ion-row >
            <ion-col>
              <h1><strong>COPROBICH</strong></h1>
              <h2><small>Inicio de Sesión</small> </h2> 
              <img src="assets/icon/favicon.png" alt="logo">
        </ion-col>
        <ion-col>
            <br><br><br>
            <ion-item id="rounded" class="itm">
              <ion-input type="text" placeholder="carlos_Benitez88@coprobich.com" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-item id="rounded" class="itm">
              <ion-input type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}"></ion-input>
            </ion-item>
            <ion-buttons class="login">
                <ion-button (click)="onLogin()">Loguearse</ion-button>
            </ion-buttons>
          </ion-col>
      </ion-row>
      <ion-row>
       
        </ion-row>
      </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
                                         